.Skins
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    position: relative;
    /* padding-top: 4rem; */
    top: 4vh;
    transition: all 300ms ease;
    z-index: 0;
}

.skins-container
{
    background: linear-gradient(169.75deg, rgba(255, 255, 255, 0) -50.22%, #040924 -9.3%, #111534 -1.17%, rgba(68, 71, 111, 0.957018) 83.26%, rgba(154, 155, 211, 0.9) 136.85%);
    height: 80%;
    width: 93%;
    padding-bottom: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

div span.skins-title
{
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 30px;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: aliceblue;
  align-self: flex-start;
    margin-left: 40px;
}

.Skins-rectangle
{
    width: 15rem;
    /* height: 21rem; */
    height: 23vh;
    background-color: white;
    position: absolute;
    right: 5%;
    bottom: 23%;
    transform: rotate(22deg);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 15px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.Skins-circle
{
    background: rgba(154, 155, 211, 1);
    width: 40px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    top: 57%;
    left: 35%;
}

.Skins-stick {
    width: 20rem;
    height: 1.2rem;
    background: rgba(186, 216, 239, 1);
    position: relative;
    left: 11%;
    top: 29%;
    transform: rotate(46deg);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  @media (max-width: 1900px) and (max-height: 1000px) {
    .Skins-rectangle
{
    width: 9rem;
    /* height: 21rem; */
    height: 23vh;
    background-color: white;
    position: absolute;
    right: 11%;
    bottom: 23%;
    transform: rotate(22deg);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 15px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.Skins-circle
{
    background: rgba(154, 155, 211, 1);
    width: 25px;
    height: 25px;
    border-radius: 30px;
    position: relative;
    top: 57%;
    left: 35%;
}

.Skins-stick {
    width: 11rem;
    height: 0.8rem;
    background: rgba(186, 216, 239, 1);
    position: relative;
    left: 11%;
    top: 29%;
    transform: rotate(46deg);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  }

  @media (max-width: 550px)
  {
    .Skins
    {
        display: flex;
        width: 85%;
        height: 40%;
    }
  }

/* @media (min-width: 1000px) and (max-width: 1900px) { */
    /* @media (max-width: 1000px) {
    .Skins
    {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .skins-container
    {
        background: linear-gradient(169.75deg, rgba(255, 255, 255, 0) -50.22%, #040924 -9.3%, #111534 -1.17%, rgba(68, 71, 111, 0.957018) 83.26%, rgba(154, 155, 211, 0.9) 136.85%);
        height: 77%;
        width: 95%;
        padding-bottom: 0px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    }

    .Skins-rectangle
    {
        width: 12vw;
        height: 23vh;
        background-color: white;
        position: absolute;
        right: 7%;
        bottom: 22%;
        transform: rotate(22deg);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    }
    .Skins-stick {
        width: 18vw;
        height: 1.5vh;
        background: rgba(186, 216, 239, 1);
        position: absolute;
        left: 73%;
        bottom: 59%;
        transform: rotate(73deg);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    div span.skins-title
    {
        font-size: 40px;
    }

    .Skins-circle
    {
        width: 30px;
        height: 30px;
        margin-right: 40px;
        margin-top: 40px;
    }
} */

@media (max-width: 1000px) {
    .Skins
    {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .skins-container
    {
        background: linear-gradient(169.75deg, rgba(255, 255, 255, 0) -50.22%, #040924 -9.3%, #111534 -1.17%, rgba(68, 71, 111, 0.957018) 83.26%, rgba(154, 155, 211, 0.9) 136.85%);
        height: 80%;
        width: 102%;
        padding-bottom: 0px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    }
    
    div span.skins-title
    {
      font-family: "Inter", sans-serif;
      font-weight: 800;
      font-size: 30px;
      font-weight: bold;
      padding-top: 1rem;
      padding-bottom: 1rem;
      color: aliceblue;
      align-self: flex-start;
        margin-left: 40px;
    }
    
    .Skins-rectangle
    {
        width: 6rem;
        height: 8rem;
        background-color: white;
        /* position: absolute; */
        left: 66%;
        /* bottom: 0%; */
        transform: rotate(22deg);
        border-radius: 15px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);    
    }
    
    .Skins-circle
    {
        background: rgba(154, 155, 211, 1);
        width: 20px;
        height: 20px;
        border-radius: 30px;
        position: relative;
        top: 57%;
        left: 29%;
    }
    
    .Skins-stick {
        width: 8rem;
        height: 0.7rem;
        background: rgba(186, 216, 239, 1);
        position: relative;
        left: 5%;
        top: 21%;
        transform: rotate(46deg);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }
}

@media (max-width: 550px) {
    .Skins
    {
        position: absolute;
        top: 17.5rem;
        margin: 0 auto;
    }

    .skins-container
    {
        height: 55%;
        width: 92%;
    }

    div span.skins-title
    {
        font-family: "Inter", sans-serif;
        font-weight: 800;
        font-size: 22px;
        font-weight: bold;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: aliceblue;
        align-self: flex-start;
        margin-left: 20px;
    }

    .Skins-rectangle
    {
        width: 9rem;
        height: 16vh;
        background-color: white;
        position: absolute;
        left: 60%;
        bottom: 52%;
        transform: rotate(112deg);
        border-radius: 15px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    }
}