/* SearchBar.module.css */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');

.searchContainer {
  position: absolute;
  top: 22.5vh;
  left: 24vw;
  }
  
  .searchBoxContainer {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .searchBox {
    transition: width 0.6s ease-in-out, border-radius 0.6s ease-in-out, background 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
    width: 3rem;
    height: 3rem;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    /* background: rgb(64, 90, 122); */
    background: aliceblue;
  }
  
  .searchIconContainer {
    font-family: 'Rubik Gemstones', cursive;
    font-size: 2.5rem;
    position: relative;
    /* color: rgb(137, 168, 194); */
    color: aliceblue;
  }
  
  .searchBox.searchIcon {
    color: #333;
    cursor: pointer;
  }
  
  .searchBox:hover {
    color: rgb(56, 35, 148);
    background: aliceblue;
    box-shadow: 0 0 0 5px rgb(61, 71, 82);
  }
  
  .searchBox:hover.searchIcon {
    color: white;
  }
  
  .searchBox:focus {
    transition: width 0.6s ease-in-out cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s ease-in-out, background 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: rgb(235, 235, 235);
    color: black;
  }
  
  .searchBox:focus.searchIcon {
    color: black;
  }
  
  .searchBox:not(:focus) {
    text-indent: -5000px;
  }
  
  .searchSubmit {
    position: relative;
    left: -5000px;
  }
