.skins
  {
    background: rgba(5, 10, 39, 1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
  }
  
  .skins-container
  {
    display: flex;
    height: 80%;
    width: 80%;
    border-radius: 2rem;
    /* background-color: var(--glass); */
    background: var(--linear-blue_purble, linear-gradient(170deg, rgba(255, 255, 255, 0.00) -50.22%, #040924 -9.3%, #111534 -1.17%, rgba(68, 71, 111, 0.96) 83.26%, rgba(154, 155, 211, 0.90) 136.85%));
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-template-columns: 2rem 25rem auto 40rem 2rem;
    grid-template-rows: repeat(3, 1fr);
    justify-content: flex-start;
    align-items: flex-start;
  }

  .skins-topBar
  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 5rem;
    width: 100%;
    top: 8rem;
  }
  
  @media (max-width: 1500px), (max-height: 900px) {
    .skins-container
    {
      display: flex;
      height: 85%;
      width: 85%;
      border-radius: 2rem;
      /* background-color: var(--glass); */
      background: var(--linear-blue_purble, linear-gradient(170deg, rgba(255, 255, 255, 0.00) -50.22%, #040924 -9.3%, #111534 -1.17%, rgba(68, 71, 111, 0.96) 83.26%, rgba(154, 155, 211, 0.90) 136.85%));
      overflow: hidden;
      /* grid-column-start: 1;
      grid-column-end: 5;
      grid-template-columns: 2rem 25rem auto 40rem 2rem;
      grid-template-rows: repeat(3, 1fr); */
      justify-content: flex-start;
      align-items: flex-start;
    }

    .skins-topBar
    {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      height: 5rem;
      width: 100%;
      top: 3rem;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .AppGlass {
      grid-template-columns: 2rem 22rem auto;
    }
    
  }
  
  .AppGlass-header {
    grid-row: 1;
    grid-column: 1 / 4;
    background-color: #07284f;
  }

  .wallet {
    color: aliceblue;
    /* position: absolute;
    top: 22.5vh;
    right: 25vw; */
    /* margin-left: auto; */
    gap: 0.5rem;
    /* padding: 0.625px; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wallet svg {
    width: 3.125rem;
    height: 3.125rem;
  }
  
  .wallet span {
    font-size: 20px;
    font-weight: bold;
}